

.container-st-child-content-timer {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);

    &-title {
        color: #acacac;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 18px;
        height: 60px;

        span {
            font-size: 18px;
        }
    }
    &-stminutes {
        margin-bottom: 30px;
        h1 {
            color: #555555;
            font-size: 18px;
        }
        button {
            background: #555555;
        }
        &-setar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-pomo {
                width: 100px;
                margin-top: 10px;

                p {
                    font-size: 16px;
                    color: #acacac;
                    margin-bottom: 5px;
                }

                input {
                    width: 100px;
                    height: 40px;
                    background-color: rgb(233, 233, 233);
                    border: none;
                    border-radius: 4px;
                    box-shadow: none;
                    color: rgb(85, 85, 85);

                    font-size: 16px;
                    padding: 10px;
                    box-sizing: border-box;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

    }
    &-breaks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        h1 {
            color: #555555;
            font-size: 18px;
        }
        input {
            border-radius: 4px;
            background-color: rgb(233, 233, 233);
            font-size: 16px;
            padding: 10px;
            box-shadow: none;
            border: none;
            color: rgb(85, 85, 85);
            box-sizing: border-box;
            width: 70px;
            &:focus {
                outline: none;
            }
        }
    }

}