.filter {
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 20px;
    &-container{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        div {
            flex: 1 1 0;
        }
    }
    
}