.header{
    .navBar{
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-around;

        
        button{
            margin-bottom: 20px;
            background: none;
            opacity: 1;
            span{
                font-size: 18px;
                color: #fff;
            }
        }
        button[active="true"]{
            background: rgba(0, 0, 0,0.2);
            border-radius: 6px;
        }
    }

}